@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

* {
  font-family: "Gowun Dodum", sans-serif;
}
*::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
  width: 0 !important;
}
