#FeedCreateCard {
  border-style: solid;
  border-width: 1px;
  border-color: #C3CBCD;
}

#FeedCreateCardHeader {
  border-bottom-style: solid;
  border-bottom: 1px;
  border-bottom-width: 100%;
  border-bottom-color: #C3CBCD;
  border-style: solid;
  margin-left: 0px;
  margin-right: 0px;
}

#FeedCreatePhoto{
  border-bottom-style: solid;
  border-bottom: 1px;
  border-bottom-width: 100%;
  border-bottom-color: #C3CBCD;
  border-style: solid;
  margin-left: 0px;
  margin-right: 0px;
}

#CalendarIcon {
  color: #112D4E
}

#FeedPlace{
  justify-content: center;
  align-items: center;
}

#FeedImage {
  width: 100%;
  height: 100%;
}

.modal{
  padding: 20px;
  background-color: #eee;
}

#contents{
  margin-left: 35px;
  width: 90%;
}

#FeedContentLabel{
  margin-left: 35px;
}