#FeedCreateCard {
  border-style: solid;
  border-width: 1px;
  border-color: #C3CBCD;
  margin-left: 450px;
  width: 700px;
}

#FeedCreateCardHeader {
  border-bottom-style: solid;
  border-bottom: 1px;
  border-bottom-width: 100%;
  border-bottom-color: #C3CBCD;
  border-style: solid;
  margin-left: 0px;
  margin-right: 0px;
}

#FeedCreatePhoto{
  border-bottom-style: solid;
  border-bottom: 1px;
  border-bottom-width: 100%;
  border-bottom-color: #C3CBCD;
  border-style: solid;
  margin-left: 0px;
  margin-right: 0px;
}

#CalendarIcon {
  color: #112D4E
}

#FeedPlace{
  justify-content: center;
  align-items: center;
}

#FeedImage {
  width: 100%;
  height: 100%;
}

.modal{
  padding: 20px;
  background-color: #eee;
}

#contents {
  margin-left: 35px;
  width: 90%;
}

#FeedContentLabel {
  margin-left: 35px;
}

#PlacePicker {
  text-align: center;
  margin-left: 10px;
  width: 430px;
  height: 35px;
  border: 1px solid;
	border-radius: 4px;
  border-color:#C3CBCD
}

#RegionPicker {
  text-align: center;
  margin-left: 3px;
  border: 1px solid;
  border-radius: 4px;
  height: 35px;
  border-color: #C3CBCD;
}

#DatePicker {
  width: 200px;
  text-align: center;
  height: 100%;
}

.fadeIn {
  animation: fadeInAnimation 1s;
}

#FeedcreateButton{
  background-color: #769FCD;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}