#FeedContainer {
  height: auto;
}

#SNSContainer {
  position: fixed;
}

.fadeIn {
  animation: fadeInAnimation 1s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

